%link{:rel => "stylesheet", :href => "/css/base.css", :type => "text/css"}
%link{:rel => "stylesheet", :href => "/css/pfb.css", :type => "text/css"}
%script{:type => "text/javascript", :src => "/js/jquery.js"}

#question
  %p.what= review['what']

#answer.hidden
  %p#meaning
  .pronunciation
    %p#guide
    %p#explanatory

.button-area
  .button#reveal
    %a.action{:href=> "#"}reveal

#options.hidden
  .button-area
    .button.half.fail
      %a#fail.action{:href=> "/#{language}/#{review['what']}/review/failure"}fail
    .button.half.pass
      %a#pass.action{:href=> "/#{language}/#{review['what']}/review/success"}pass

.banner
  %p#pending

:javascript
  var update_answer = function(data) {
    $("#meaning").text(data['word']['meaning'])
    $("#guide").text(data['word']['guide'])
    $("#explanatory").append(data['word']['pronunciation'])
  };

  var do_reveal = function() {
    $("#reveal").hide();
    $("#answer").show();
    $("#options").show();
  };

  var update_review_count = function(data) {
    if (data['pending'] === 1) {
      $("#pending").text("No pending reviews after this.");
    } else {
      $("#pending").text(data['pending']);
    }
  };

  $.get("/#{language}/#{review['what']}", update_answer);
  $.get("/#{language}/review/pending", update_review_count);
  $("#reveal").on('click', function(event) {
    do_reveal();

    event.preventDefault();
  });